# .gitignore dla projektu Python

# Ignorowanie plików i folderów środowiska wirtualnego
venv/
env/
*.pyc
__pycache__/

# Ignorowanie plików logów
*.log

# Ignorowanie plików konfiguracyjnych IDE
.idea/
.vscode/

# Ignorowanie plików systemowych
.DS_Store
Thumbs.db